rainfalls.Signle/Web References/rainfallsWebServer/rainfalls.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EchoMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EchoMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EchoMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="term_sn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastTime" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDataResult" type="tns:ArrayOfRtuClick" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRtuClick">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="rtuClick" type="tns:rtuClick" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="rtuClick">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="tm" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="voltage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getChildSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getChildSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getChildSiteResult" type="tns:ArrayOfChildStruct" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChildStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="childStruct" type="tns:childStruct" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="childStruct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TERM_SN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="site_km" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="qj" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="site_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="site_id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="checkUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="siteId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="curVersion" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imei" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imei" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rebindDeviced">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imei" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rebindDevicedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rebindDevicedResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIMEI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIMEIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIMEIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSiteBase">
        <s:complexType />
      </s:element>
      <s:element name="getSiteBaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSiteBaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="EchoMessageSoapIn">
    <wsdl:part name="parameters" element="tns:EchoMessage" />
  </wsdl:message>
  <wsdl:message name="EchoMessageSoapOut">
    <wsdl:part name="parameters" element="tns:EchoMessageResponse" />
  </wsdl:message>
  <wsdl:message name="getDataSoapIn">
    <wsdl:part name="parameters" element="tns:getData" />
  </wsdl:message>
  <wsdl:message name="getDataSoapOut">
    <wsdl:part name="parameters" element="tns:getDataResponse" />
  </wsdl:message>
  <wsdl:message name="getChildSiteSoapIn">
    <wsdl:part name="parameters" element="tns:getChildSite" />
  </wsdl:message>
  <wsdl:message name="getChildSiteSoapOut">
    <wsdl:part name="parameters" element="tns:getChildSiteResponse" />
  </wsdl:message>
  <wsdl:message name="checkUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:checkUpdate" />
  </wsdl:message>
  <wsdl:message name="checkUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:checkUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="registerSoapIn">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="registerSoapOut">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="rebindDevicedSoapIn">
    <wsdl:part name="parameters" element="tns:rebindDeviced" />
  </wsdl:message>
  <wsdl:message name="rebindDevicedSoapOut">
    <wsdl:part name="parameters" element="tns:rebindDevicedResponse" />
  </wsdl:message>
  <wsdl:message name="getIMEISoapIn">
    <wsdl:part name="parameters" element="tns:getIMEI" />
  </wsdl:message>
  <wsdl:message name="getIMEISoapOut">
    <wsdl:part name="parameters" element="tns:getIMEIResponse" />
  </wsdl:message>
  <wsdl:message name="getSiteBaseSoapIn">
    <wsdl:part name="parameters" element="tns:getSiteBase" />
  </wsdl:message>
  <wsdl:message name="getSiteBaseSoapOut">
    <wsdl:part name="parameters" element="tns:getSiteBaseResponse" />
  </wsdl:message>
  <wsdl:portType name="rainfallsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EchoMessage">
      <wsdl:input message="tns:EchoMessageSoapIn" />
      <wsdl:output message="tns:EchoMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input message="tns:getDataSoapIn" />
      <wsdl:output message="tns:getDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getChildSite">
      <wsdl:input message="tns:getChildSiteSoapIn" />
      <wsdl:output message="tns:getChildSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkUpdate">
      <wsdl:input message="tns:checkUpdateSoapIn" />
      <wsdl:output message="tns:checkUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input message="tns:registerSoapIn" />
      <wsdl:output message="tns:registerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="rebindDeviced">
      <wsdl:input message="tns:rebindDevicedSoapIn" />
      <wsdl:output message="tns:rebindDevicedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getIMEI">
      <wsdl:input message="tns:getIMEISoapIn" />
      <wsdl:output message="tns:getIMEISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSiteBase">
      <wsdl:input message="tns:getSiteBaseSoapIn" />
      <wsdl:output message="tns:getSiteBaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="rainfallsSoap" type="tns:rainfallsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoMessage">
      <soap:operation soapAction="http://tempuri.org/EchoMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap:operation soapAction="http://tempuri.org/getData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChildSite">
      <soap:operation soapAction="http://tempuri.org/getChildSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUpdate">
      <soap:operation soapAction="http://tempuri.org/checkUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rebindDeviced">
      <soap:operation soapAction="http://tempuri.org/rebindDeviced" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIMEI">
      <soap:operation soapAction="http://tempuri.org/getIMEI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSiteBase">
      <soap:operation soapAction="http://tempuri.org/getSiteBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rainfallsSoap12" type="tns:rainfallsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EchoMessage">
      <soap12:operation soapAction="http://tempuri.org/EchoMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap12:operation soapAction="http://tempuri.org/getData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChildSite">
      <soap12:operation soapAction="http://tempuri.org/getChildSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUpdate">
      <soap12:operation soapAction="http://tempuri.org/checkUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap12:operation soapAction="http://tempuri.org/register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rebindDeviced">
      <soap12:operation soapAction="http://tempuri.org/rebindDeviced" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIMEI">
      <soap12:operation soapAction="http://tempuri.org/getIMEI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSiteBase">
      <soap12:operation soapAction="http://tempuri.org/getSiteBase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="rainfalls">
    <wsdl:port name="rainfallsSoap" binding="tns:rainfallsSoap">
      <soap:address location="http://www.zzdawei.cn/webservice/rainfalls.asmx" />
    </wsdl:port>
    <wsdl:port name="rainfallsSoap12" binding="tns:rainfallsSoap12">
      <soap12:address location="http://www.zzdawei.cn/webservice/rainfalls.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>